@model IEnumerable<Saloon.Models.Exp_Cat>

@{
    ViewBag.Title = "Exp_Cat";
    if (Session["Admin"] == null)
    {
        Response.Redirect("~/Admin/Index");
    }
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


<form action="~/Admin/AddExp_Cat" method="get" style="position:relative; left:20px">
    <button type="submit">Add Category</button>
</form>
<br/>
<table class="table">
    <tr>
        
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.ActionLink("Update", "UpdateExp_Cat", new {  a=item.EC_ID  }) |
            @Html.ActionLink("Delete", "DeleteExp_Cat", new {  a=item.EC_ID })
        </td>
    </tr>
}

</table>
